## Coding Assignment 2: Pandas Operations [SOLUTIONS]

### Introduction to Data Science
#### Last Updated: September 23, 2022

---  

### Skills Assessed

You will demonstrate these skills in the HW:
- pandas operations: subsetting
- pandas operations: creating new columns
- pandas operations: summarizing data
---

### Instructions

You will show off your pandas skills in this assignment.

Please answer the following questions as completely as possible using text, code, and the results of code as needed. Format your answers in this Jupyter notebook. To receive full credit, make sure you address every part of the problem, and make sure your document is formatted in a clean and professional way.

Google is your friend if you are stuck on how to do something. You can also refer to the Pandas documentation: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html


**TOTAL POINTS: 10**

---

### World Happiness Report

"The World Happiness Report is a landmark survey of the state of global happiness. The first report was published in 2012. The World Happiness 2017, which ranks 155 countries by their happiness levels, was released at the United Nations at an event celebrating International Day of Happiness on March 20th."

source: Kaggle

---

You'll work with pandas dataframes so import the module

In [2]:
import pandas as pd

1) (1 PT) Read the happiness data into a dataframe and print the first 4 rows of data (not including the header).

In [34]:
df = pd.read_csv('Country_Happiness.csv')
df.head(4)

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138

2) (1 PT) Determine the unique Country values. You might need to search for the function to do this.  
   Next, sort them and print them.

In [23]:
countries = df.Country.unique()
countries.sort()
print(countries)

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Congo (Brazzaville)' 'Congo (Kinshasa)' 'Costa Rica'
 'Croatia' 'Cyprus' 'Czech Republic' 'Denmark' 'Dominican Republic'
 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Ethiopia' 'Finland' 'France'
 'Gabon' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Guatemala' 'Guinea' 'Haiti'
 'Honduras' 'Hong Kong SAR, China' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Ivory Coast' 'Jamaica' 'Japan'
 'Jordan' 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos'
 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Northern Cyprus' 'Norway' 'Pakistan'
 'Palestinian Territories' 'Panama' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saudi Arabia'
 'Senegal' 'Serbia' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Somalia' 'South Africa' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka'
 'Sudan' 'Sweden' 'Switzerland' 'Syria' 'Taiwan Province of China'
 'Tajikistan' 'Tanzania' 'Thailand' 'Togo' 'Trinidad & Tobago' 'Tunisia'
 'Turkey' 'Turkmenistan' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'United States' 'Uruguay' 'Uzbekistan' 'Venezuela'
 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe']

3) (1 PT) Select the following columns (together) from the dataframe: `Country`, `Happiness score`  
Print the first four rows of data from these columns.

In [25]:
df[['Country', 'Happiness score']].head(4)

   Country  Happiness score
0  Finland            7.632
1   Norway            7.594
2  Denmark            7.555
3  Iceland            7.495

4) (1 PT) Compute the following statistics on all values of `Happiness score`:
- mean, std, min, 25%, 50%, 75%, max  
Hint: there is a function that does this.

In [35]:
df['Happiness score'].describe()

count    156.000000
mean       5.375878
std        1.119507
min        2.905000
25%        4.453750
50%        5.378000
75%        6.168500
max        7.632000
Name: Happiness score, dtype: float64

5) (2 PTS) Create a new column in the dataframe and name it: `Happiness_high`  
It will be derived from `Happiness score` as follows:
- if `Happiness score` > 6, the value will be True
- otherwise, the value will be False

Print the first five rows of the data

In [36]:
df['Happiness_high'] = df['Happiness score'] > 6
df.head(5)

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Happiness_high
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393,True
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340,True
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408,True
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138,True
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357,True

Print the last five rows of the data

In [37]:
df.tail(5)

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Happiness_high
151,Yemen,3.355,3.448,3.262,1.106,0.442,1.073,0.343,0.244,0.083,0.064,False
152,Tanzania,3.303,3.414,3.193,0.628,0.455,0.991,0.381,0.481,0.270,0.097,False
153,South Sudan,3.254,3.385,3.123,1.691,0.337,0.608,0.177,0.112,0.224,0.106,False
154,Central African Republic,3.083,3.227,2.939,2.487,0.024,0.000,0.010,0.305,0.218,0.038,False
155,Burundi,2.905,3.074,2.735,1.752,0.091,0.627,0.145,0.065,0.149,0.076,False

6) (1 PT) Print all rows from the data where `Happiness score` is greater than 5.9 and less than 6.

In [42]:
df[(df['Happiness score']>5.9)&(df['Happiness score']<6)]

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Happiness_high
47,Ecuador,5.973,6.076,5.871,2.228,0.889,1.330,0.736,0.556,0.114,0.120,False
48,Belize,5.956,6.197,5.714,2.710,0.807,1.101,0.474,0.593,0.183,0.089,False
49,Lithuania,5.952,6.037,5.867,2.130,1.197,1.527,0.716,0.350,0.026,0.006,False
50,Slovenia,5.948,6.043,5.852,1.522,1.219,1.506,0.856,0.633,0.160,0.051,False
51,Romania,5.945,6.038,5.852,2.269,1.116,1.219,0.726,0.528,0.088,0.001,False
52,Latvia,5.933,6.004,5.863,2.139,1.148,1.454,0.671,0.363,0.092,0.066,False
53,Japan,5.915,5.997,5.833,1.390,1.294,1.462,0.988,0.553,0.079,0.150,False

Run the cell below to create a new dataframe called `df_miss`.  
Its first column will contain some missing values.

In [102]:
import numpy as np
import random

nrows = 10
ncols = 5

# set a seed for random number generation
np.random.seed(314)
# create an array filled with random data
data = np.array(np.random.rand(nrows, ncols))
# put the data to a pandas dataframe
df_miss = pd.DataFrame(data)
# rename the columns
df_miss.columns = ['col_'+str(ii) for ii in range(ncols)]

# randomly set some values to missing
ix0 = np.random.randint(nrows, size=3)
ix1 = np.random.randint(nrows, size=3)

df_miss['col_0'][ix0] = np.nan
df_miss['col_1'][ix1] = np.nan

print(df_miss)

      col_0     col_1     col_2     col_3     col_4
0       NaN       NaN  0.265048  0.783205  0.918001
1  0.827355       NaN  0.260480  0.911763  0.260757
2  0.766376  0.261531  0.122291  0.386006  0.840081
3       NaN       NaN  0.633110  0.584766  0.581232
4  0.677205  0.687155  0.438927  0.320927  0.570552
5       NaN  0.861074  0.834805  0.105766  0.060408
6  0.596882  0.792395  0.226356  0.535201  0.136066
7  0.372244  0.151977  0.429822  0.792706  0.406957
8  0.177850  0.909252  0.545331  0.100497  0.718721
9  0.978429  0.309776  0.260126  0.662900  0.139720

7) (2 PTS) Impute the missing values (NaN) in `col_0` (but not `col_1`) with the median.  
Store the values in the dataframe by using the parameter `inplace`.  
Print the dataframe.

In [101]:
df_miss['col_0'].fillna(df_miss['col_0'].median(), inplace=True)
print(df_miss)

      col_0     col_1     col_2     col_3     col_4
0  0.677205       NaN  0.265048  0.783205  0.918001
1  0.827355       NaN  0.260480  0.911763  0.260757
2  0.766376  0.261531  0.122291  0.386006  0.840081
3  0.677205       NaN  0.633110  0.584766  0.581232
4  0.677205  0.687155  0.438927  0.320927  0.570552
5  0.677205  0.861074  0.834805  0.105766  0.060408
6  0.596882  0.792395  0.226356  0.535201  0.136066
7  0.372244  0.151977  0.429822  0.792706  0.406957
8  0.177850  0.909252  0.545331  0.100497  0.718721
9  0.978429  0.309776  0.260126  0.662900  0.139720

8) (1 PT) Impute the missing values in `col_1` with value 0.  
Store the values in the dataframe by using the parameter `inplace`.  
Print the dataframe.

In [103]:
df_miss['col_1'].fillna(0, inplace=True)
print(df_miss)

      col_0     col_1     col_2     col_3     col_4
0       NaN  0.000000  0.265048  0.783205  0.918001
1  0.827355  0.000000  0.260480  0.911763  0.260757
2  0.766376  0.261531  0.122291  0.386006  0.840081
3       NaN  0.000000  0.633110  0.584766  0.581232
4  0.677205  0.687155  0.438927  0.320927  0.570552
5       NaN  0.861074  0.834805  0.105766  0.060408
6  0.596882  0.792395  0.226356  0.535201  0.136066
7  0.372244  0.151977  0.429822  0.792706  0.406957
8  0.177850  0.909252  0.545331  0.100497  0.718721
9  0.978429  0.309776  0.260126  0.662900  0.139720

---